node_modules/
**/node_modules/
dist/
build/
/.cache
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.vscode/
.idea/
bun.lockb
.bun/
coverage/
uploads/
*.sqlite
/.env